@import "tailwindcss";

@font-face {
  font-family: 'Poppins-Medium';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(/Poppins-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Poppins-Bold';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(/Poppins-Bold.woff2) format('woff2');
}

h1 {
  @apply font-[Poppins-Bold] text-white text-[35px];
}

p {
  @apply font-[Poppins-Medium] text-white text-[16px] max-sm:text-[14px];
}

.portfolio-card {
  @apply bg-[#302c76FF] rounded-2xl hover:bg-blue-500 w-[1300px] h-[350px] flex items-center 
  max-lg:w-[800px] max-md:w-[600px] max-sm:w-[380px];
}

.image-bg {
  @apply bg-[#443abbFF] rounded-3xl w-[550px] h-[280px] translate-y-2 lg:flex-shrink-0;
}

.gradient {
    @apply font-bold text-transparent bg-clip-text 
    [background-image:radial-gradient(circle,rgba(238,53,157,1)_40%,rgba(183,40,255,1)_77%)];
}