@import "tailwindcss";

@font-face {
  font-family: 'Poppins-Medium';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(/Poppins-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Poppins-Bold';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(/Poppins-Bold.woff2) format('woff2');
}

.contact {
    @apply font-[Poppins-Bold] text-white mt-5 text-[64px] 
    max-sm:text-[48px];
}

.gradient {
    @apply font-bold text-transparent bg-clip-text 
    bg-[radial-gradient(circle,rgba(238,53,157,1)_5%,rgba(183,40,255,1)_50%)];
}