@import "tailwindcss";

@font-face {
  font-family: 'Poppins-Medium';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(/Poppins-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Poppins-Bold';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(/Poppins-Bold.woff2) format('woff2');
}

body {
    @apply bg-[#1e0332FF];
}

p {
    @apply font-[Poppins-Medium] text-white;
}

#about-me {
    @apply font-bold text-transparent bg-clip-text font-[Poppins-Bold] text-[72px]
    bg-[radial-gradient(circle,rgba(238,53,157,1)_10%,rgba(183,40,255,1)_77%)]
    max-sm:w-[300spx];
}

#about-me-paragraph {
    @apply text-white text-left w-[700px] max-sm:w-[300px];
}