@import "tailwindcss";

@font-face {
  font-family: 'Poppins-Medium';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(/Poppins-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Poppins-Bold';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(/Poppins-Bold.woff2) format('woff2');
}

h4 {
  @apply font-[Poppins-Bold] text-[48px] max-sm:text-[32px];
}

h3 {
  @apply font-[Poppins-Bold] text-[24px];
}

.skills {
    @apply font-[Poppins-Bold] text-white mt-5 text-[64px] 
    max-sm:text-[54px];
}

.gradient {
    @apply font-bold text-transparent bg-clip-text
    [background-image:radial-gradient(circle,rgba(238,53,157,1)_40%,rgba(183,40,255,1)_77%)];
}

.purple-gradient {
    @apply font-bold text-transparent bg-clip-text 
    bg-[radial-gradient(circle,rgba(168,85,247,1)_80%,rgba(126,34,206,1)_20%)];
}