@import "tailwindcss";

@font-face {
  font-family: 'Poppins-Medium';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(/Poppins-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Poppins-Bold';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(/Poppins-Bold.woff2) format('woff2');
}

body {
    @apply bg-[#1e0332FF];
}

.nav-bar {
    @apply flex fixed top-0 left-0 bg-[#320653] 
    w-full h-[60px] items-center justify-between;
}

.nav-bar-buttons {
    @apply bg-transparent text-white font-[Poppins-Medium] hover:bg-purple-400;
}

#hello {
    @apply absolute left-0 -translate-y-6 font-[Poppins-Medium] text-white;
}

#name {
    @apply left-0 font-[Poppins-Bold] text-white mt-5 text-[64px];
}

.gradient {
    @apply font-bold text-transparent bg-clip-text 
    [background-image:radial-gradient(circle,rgba(238,53,157,1)_40%,rgba(183,40,255,1)_77%)];
}

#intro-line {
    @apply absolute left-0 translate-y-20 
    font-[Poppins-Bold] text-white text-[30px]
    mt-5;
}

#resume-button {
    @apply mt-20 w-[300px] h-[90px] text-[30px] font-[Poppins-Bold] rounded-2xl
    text-white hover:[background-image:linear-gradient(to_bottom,rgba(255,6,240,1)_100%)]
    [background-image:linear-gradient(to_bottom,rgba(135,0,255,1)_10%,rgba(255,6,240,1)_90%)];
}