@import "tailwindcss";

@font-face {
  font-family: 'Poppins-Medium';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(/Poppins-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Poppins-Bold';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(/Poppins-Bold.woff2) format('woff2');
}

body {
    @apply bg-[#1e0332FF];
}

.nav-bar {
    @apply flex fixed top-0 left-0 bg-[#320653] 
    w-full h-[60px] items-center justify-between;
}

.nav-bar-buttons {
    @apply bg-transparent text-white font-[Poppins-Medium] hover:bg-purple-400 max-sm:w-[100px]
    max-sm:text-[12px];
}